/* ============================================================*/
/* common */
body {
    /*background-color: #2B2B2B;*/
    /*background-color: #1E1E1E;*/
    background-color: #1E1E1E;
    font-family: 'Roboto';
    font-size: 100%;  /* обычно 16px, это будет "базовый" размер */
    color: #C0C0C0;
    max-width: 1000px;
    margin: auto;
    line-height: 150%;
    text-align: justify;
}

.remark {
  /*background-color: #C9C9C9;*/
  border-left: 4px solid #939393;
  font-style: italic;
  font-size: .85rem;  /* 85% от базового размера */
  padding: 5 0 5 25;
  margin-left: 45px;
  line-height: 1.2rem;
}

.issue {
  /*background-color: #C9C9C9;*/
  border-left: 4px solid #FF6060;
  font-style: italic;
  font-size: .85rem;
  padding: 5 0 5 25;
  margin-left: 45px;
  line-height: 1.2em;
}

.pic {
    font-style: italic;
    font-size: .85rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figcaption {
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}
ul li::before {
  content: "\2714";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  /*color: red; /* Change the color */
  /*font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
►}
/* ============================================================*/





/* ============================================================*/
/* java staff */
.jann {
    color: #F4DF3F;
    
}

.jparam {
    color: #04CE3D;
    font-family: 'Fira Code'
}

.jclass {
    color: #52A6F9;
    font-family: 'Fira Code'
}

.jvalue {
    color: #B570CC;
}

.jmethod {
    color: #F45A71;
    font-family: 'Fira Code'
}

.inline {
    border: 1px #808080 solid;
    border-radius: 5px;
    padding: 0 5;
    background-color: #282828;
    font-family: 'Fira Code';
    font-size: 14px;
}

.samplecode {
    line-height: 1em;
    overflow: hidden;
    font-size: 14px;
}
/* ============================================================*/





/* ============================================================*/
/* details and summary */
details {
  margin-bottom: .5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 2px;
  overflow: hidden;
}

summary {
  padding: .25rem;
  display: block;
  background: #333;
  padding-left: 1.5rem;
  position: relative;
  cursor: pointer;
  font-size: 14;
}
/* ============================================================*/