/* ============================================================*/
/* common */
body {
    /*background-color: #2B2B2B;*/
    /*background-color: #1E1E1E;*/
    background-color: #1E1E1E;
    font-family: 'Roboto';
    font-size: 16;
    color: #C0C0C0;
    width: 1000px;
    margin: auto;
    line-height: 1.5em;
    text-align: justify;
}

.remark {
  /*background-color: #C9C9C9;*/
  border-left: 4px solid #939393;
  font-style: italic;
  font-size: 14;
  padding: 5 0 5 25;
  margin-left: 25px;
  line-height: 1.2em;
}

.quest {
  /*background-color: #C9C9C9;*/
  border-left: 4px solid #FF6060;
  font-style: italic;
  font-size: 14;
  padding: 5 0 5 25;
  margin-left: 25px;
  line-height: 1.2em;
}

.pic {
    font-style: italic;
    font-size: 13;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* ============================================================*/





/* ============================================================*/
/* java staff */
.annot {
    color: #F4DF3F;
}

.param {
    color: #04CE3D;
    font-family: 'Fira Code'
}

.enum {
    color: #B570CC;
}

.frag {
    border: 1px #808080 solid;
    border-radius: 5px;
    padding: 0 5;
    background-color: #282828;
    font-family: 'Fira Code';
    font-size: 14px;
}

.samplecode {
    line-height: 1em;
    overflow: hidden;
    font-size: 14px;
}
/* ============================================================*/





/* ============================================================*/
/* details and summary */
details {
  margin-bottom: .5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 2px;
  overflow: hidden;
}

summary {
  padding: .25rem;
  display: block;
  background: #333;
  padding-left: 1.5rem;
  position: relative;
  cursor: pointer;
  font-size: 14;
}
/* ============================================================*/